* {
	font-family: sans-serif;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-color: #cfffbf;
}

h1 {
	text-align: center;
	position: relative;
	top: 30px;
}

.section {
	background-color: #ffb7e7;
	margin-top: 20px;
	margin-left: 3%;
	float: left;
	position: relative;
	top: 50px;
	border: solid 1px black;
	position: relative;
}

p {
	padding-top: 10px;
	clear: right;
	margin: 10px;
}

.title-card {
	width: 100px;
	float: right;
	height: 20px;
	margin: 0;
}

h3.title {
	color: white;
	font-style: italic;
	position: relative;
	top: 0%;
	right: 100%;
	margin: 0;
	
}

#one {
	background-color: brown;
}

#two {
	background-color: blue;
}

#three {
	background-color: red;
}

@media (min-width: 992px) {
	.section {
		width: 28.67%;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.section {
		width: 91%;
	}

	#box1, #box2 {
		width: 44%;
	}

}

@media (max-width: 767px) {
	.section {
		width: 89%;
	}

}