* {
	font-family: sans-serif;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-color: #cfffbf;
}

h1 {
	text-align: center;
	position: relative;
	top: 30px;
}

.section {
	background-color: #ffb7e7;
	margin-top: 10px;
	margin-left: 2%;
	float: left;
	position: relative;
	top: 50px;
	border: solid 1px black;
	position: relative;
}

p {
	padding-top: 10px;
	clear: right;
	margin: 10px;
}

.title-card {
	width: 120px;
	float: right;
	position: relative;
	right: 0px;
	height: 30px;
}

h3.title {
	color: white;
	font-style: italic;
	position: absolute;
	top: 10%;
	left: 40px;
	font-size: : 100px;
	text-align: center;
}

#one {
	background-color: brown;
}

#two {
	background-color: blue;
}

#three {
	background-color: red;
}

@media (min-width: 992px) {
	.section {
		width: 30%;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.section {
		width: 92%;
	}

	#box1, #box2 {
		width: 45%;
	}

@media (max-width: 767px) {
	.section {
		width: 100%;
	}

}