* {
	font-family: sans-serif;
	padding: 0px;
	margin: 0px;

}

body {
	background-color: #cfffbf;
}

h1 {
	text-align: center;
}

h3 {
	text-align: center;
	margin-top: 0px;
	color: white;
	font-style: italic;
}

.title-card {
	border: 1px;
	border-color: black;
	width: 100px;
	float: right;
	height: 30px;
}

#one {
	background-color: brown;
}

#two {
	background-color: blue;
}

#three {
	background-color: red;
}

.section {
	background-color: #ffb7e7;
	margin: 10px;
	width: 33%;
	float: left;
	clear: right;
}

p {
	clear: right;
	margin: 10px;
}

@media (min-width: 992px) {
	.section {
		width: 33%;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.section {
		width: 50%;
	}
}

@media (max-width: 767px) {
	.section {
		width: 100%;
	}

}